#jinja2: trim_blocks:True

[Service]
Environment=DAEMON_ARGS="--initial-advertise-peer-urls http://{{ vars['ansible_'~iface].ipv4.address }}:2380 \
--listen-peer-urls http://{{ vars['ansible_'~iface].ipv4.address }}:2380 \
--listen-client-urls http://{{ vars['ansible_'~iface].ipv4.address }}:2379,http://127.0.0.1:2379 \
--advertise-client-urls {{ k3s_datastore_endpoint }} \
--initial-cluster-token etcd-cluster-1 \
--initial-cluster-state new"
--initial-cluster {%+ for host in groups['master'] -%} {{hostvars[host]['ansible_hostname']}}=http://{{hostvars[host]['ansible_' + iface].ipv4.address}}:2379{% if not loop.last %},{% endif %} {%- endfor -%}"